<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>REGISTRE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--TODO posible modificacion de tipo de campos, number y password-->
        <div>
            <form th:action="@{/registre/client-alta}" method="POST">
                <label for="usuari">Nom d'usuari :</label>
                <input type="text" id="usuari" name="usuari" required>

                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required>

                <label for="contrasenya">Contasenya : </label>
                <input type="text" id="contrasenya" name="contrasenya" required>

                <label for="confirmacioContrasenya">Confirmar contrasenya: </label>
                <input type="text" id="confirmacioContrasenya" name="confirmacioContrasenya" required>
                
                <label for="dni">DNI : </label>
                <input type="text" id="dni" name="dni" required>
                
                <label for="confirmacioContrasenya">Nom : </label>
                <input type="text" id="nom" name="nom" required>
                
                <label for="cognoms">Cognoms : </label>
                <input type="text" id="cognoms" name="cognoms" required>
                
                <label for="nacionalitat">Nacionalitat : </label>
                <input type="text" id="nacionalitat" name="nacionalitat" required>

                <label for="telefon">Telèfon : </label>
                <input type="text" id="telefon" name="telefon" required>

                <label for="llicencia">Llicència de conduïr : </label>
                <input type="text" id="llicencia" name="llicencia" required>
                
                <label for="llicCaducitat"> Data d'expiració de la llicència : </label>
                <input type="date" id="llicCaducitat" name="llicCaducitat" required> 
                
                <label for="dniCaducitat">Data d'expiració del DNI : </label>
                <input type="date" id="dniCaducitat" name="dniCaducitat" required>
                
                <label for="numTarjetaCredit">Núm. tarjeta de crèdit : </label>
                <input type="text" id="numTarjetaCredit" name="numTarjetaCredit" required>
                
                <label for="adreca">Adreça : </label>
                <input type="text" id="adreca" name="adreca" required>
                
                <label for="reputacio">Reputació (1-0): </label>
                <input type="text" id="reputacio" name="reputacio" required>
                
                <button type="submit">Crear Client</button>
            </form>
        </div>
    </body>
</html>

