<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Informació del Lliurament del Vehicle</title>
</head>
<body>
    <h1>Informació del Lliurament del Vehicle</h1>

    <form th:action="@{/reserva/lliurar}" method="post" enctype="multipart/form-data">
        <!-- Data i hora del lliurament -->
        <label for="dataHoraLliurament">Data i hora del lliurament:</label>
        <input type="datetime-local" id="dataHoraLliurament" name="dataHoraLliurament" 
               th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd''T''HH:mm')
               }" readonly>
        <br><br>

        <!-- Descripció de l'estat del vehicle -->
        <label for="descripcioEstat">Descripció de l'estat del vehicle:</label><br>
        <textarea id="descripcioEstat" name="descripcioEstat" rows="5" cols="40" placeholder="Descripció de l'estat del vehicle..." required></textarea>
        <br><br>

        <!-- Botó de submissió -->
        <button type="submit">Enviar Informació</button>
    </form>
</body>
</html>