<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Desactivar Vehicle</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <style>
        body {
            background-color: #ffe6e6;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="text-center">Desactivar Vehicle</h1>
                    <p><strong>Matrícula:</strong> <span th:text="${vehicle.matricula}"></span></p>
                    <p><strong>Marca:</strong> <span th:text="${vehicle.marca}"></span></p>
                    <p><strong>Model:</strong> <span th:text="${vehicle.model}"></span></p>
                </div>
                <br />
                <form th:action="@{/vehicle/desactivar/{matricula}(matricula=${vehicle.matricula})}" method="get"
                    class="mb-4">
                    <div class="input-group">
                        <div class="form-group me-2 text-start">
                            <label for="dataFinal" class="form-label">Data de finalització de la desactivació
                                (opcional):</label>
                            <input type="date" id="dataFinal" name="dataFinal" class="form-control" />
                        </div>
                        <div class="d-flex align-items-end">
                            <button type="submit" class="btn btn-primary">Mostrar reserves afectades</button>
                        </div>
                    </div>
                </form>
                <div class="mt-4">
                    <h3>Reserves Afectades</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Codi de Reserva</th>
                                <th scope="col">Matrícula</th>
                                <th scope="col">Data Inici</th>
                                <th scope="col">Data Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="reserva : ${reservas}">
                                <th scope="row" th:text="${reserva.idReserva}"></th>
                                <td th:text="${reserva.vehicle.matricula}"></td>
                                <td th:text="${reserva.dataInici}"></td>
                                <td th:text="${reserva.dataFi}"></td>

                            </tr>

                        </tbody>

                    </table>
                    <form th:action="@{/vehicle/desactivarReserves}" method="post" class="text-center mb-4">
                        <input type="hidden" name="matricula" th:value="${vehicle.matricula}" />
                        <div th:each="reserva : ${reservas}">
                            <input type="hidden" name="idReservas" th:value="${reserva.idReserva}" />
                        </div>
                        <button type="submit" class="btn btn-success"
                            onclick="return confirm('¿Estàs segur de que vols desactivar aquest vehicle i/o les reserves llistades?');">
                            Confirmar desactivar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-wEaOuKq8YWuV1gNKB5C77TV6EBCFfPQCsIvtnAQ5aFg2VWnv2CEv5ZRH0ELu//h5"
        crossorigin="anonymous"></script>
</body>

</html>